<h2>Cadastro de Usuário</h2>

<form (ngSubmit)="cadastrar()" #form="ngForm">
  <label>Nome:</label>
  <input type="text" [(ngModel)]="nome" name="nome" required />

  <label>Email:</label>
  <input type="email" [(ngModel)]="email" name="email" required />

  <label>Senha:</label>
  <input type="password" [(ngModel)]="senha" name="senha" required />

  <label>CPF:</label>
  <input type="text" [(ngModel)]="cpf" name="cpf" required />

  <label>Telefone:</label>
  <input type="text" [(ngModel)]="telefone" name="telefone" />

  <label>Setor:</label>
  <input type="text" [(ngModel)]="setor" name="setor" />

  <label>Tipo de Usuário:</label>
  <select [(ngModel)]="tipoUsuario" name="tipoUsuario" required>
    <option value="COLABORADOR">Colaborador</option>
    <option value="COORDENADOR">Coordenador</option>
  </select>

  <label for="empresa">Procurar Empresa:</label>
<input type="text" id="empresa" [(ngModel)]="termoEmpresa" (input)="buscarEmpresas()" />

<ul *ngIf="empresasEncontradas.length > 0">
  <li *ngFor="let empresa of empresasEncontradas" (click)="selecionarEmpresa(empresa)">
    {{ empresa.nomeFantasia }} (CNPJ: {{ empresa.cnpj }})
  </li>
</ul>

<p *ngIf="empresaSelecionada">
  Empresa selecionada: {{ empresaSelecionada.nomeFantasia }} (ID: {{ empresaSelecionada.id }})
</p>

  <button type="submit" [disabled]="!form.form.valid">Cadastrar</button>
</form>