<div class="home-container">
    <div class="home-content">
  
      <img src="assets/logo.png" alt="Logo BateAi" class="logo" />
  
      <h1>Bem-vindo ao <span class="highlight">BateAi</span></h1>
  
      <p class="subtitle">
        Acompanhe registros de ponto com precisão, segurança e clareza.<br>
        Simplifique a rotina da sua empresa com uma solução eficiente e acessível.
      </p>
  
      <div class="button-group">
        <button (click)="irParaLogin()">Login</button>
        <button (click)="irParaCadastroEmpresa()">Cadastrar Empresa</button>
        <button (click)="irParaCadastroUsuario()">Cadastro de Usuário</button>
      </div>
    </div>
  </div>
